absl-py==0.12.0
astor==0.8.1
attrs==21.2.0
bleach==1.5.0
dataclasses==0.8
gast==0.4.0
grpcio==1.38.0
html5lib==0.9999999
importlib-metadata==4.3.0
iniconfig==1.1.1
joblib==1.0.1
Markdown==3.3.4
numpy==1.19.5
packaging==20.9
pkg-resources==0.0.0
pluggy==0.13.1
protobuf==3.17.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
sklearn==0.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
